{%load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    <title>Home</title>
</head>

<body>
    <div id="main">
        <p class="logo">College Finder</p>
        <form onsubmit="event.preventDefault();" role="search">
            <input id="search" placeholder="Search for colleges..." autofocus required />
            <button type="submit">{%include "MainPage/searchIcon.html"%}</button>
        </form>
        <div id="fun">
            <a class="linktext" href="#">advanced search</a>
            <a class="linktext" href="#">random college near you!</a>
        </div>
        <table class="hidden">
            <tr>
                <th>Name</th>
                <th>location</th>
                <th>idk</th>
            </tr>
        </table>
    </div>
    <ul>
        <li><a class="linktext" href="Chats">Chats</a></li>
        <li><a class="linktext" href="HowItWorks">How it works</a></li>
        <li><a class="linktext" href="About">About</a></li>
    </ul>

    <script src="{% static '/javascript/main.js' %}"></script>
</body>

</html>