{%load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
<div id="main">
<p id="logo"><a href="/">Display {{w}}</a></p>
<div id="crudDiv">
    <span>
        {% if w == 'college' %}
        {% include 'tables/userTables/collegeTable.html' %}
        {% elif w == 'dean' %}
        {% include 'tables/userTables/deanTable.html' %}
        {% elif w == 'faculty' %}
        {% include 'tables/userTables/facultyTable.html' %}
        {% elif w == 'degree' %}
        {% include 'tables/userTables/degreeTable.html' %}
        {% elif w == 'job' %}
        {% include 'tables/userTables/jobTable.html' %}
        {% endif %}
    </span>
</div>
</div>
{% include 'MainPage/navBar.html' %}
