:root {
  --color-dark: #333;
  --color-light: #fdfbfb;
}
* {
  font-family: 'Times New Roman', Times, serif;
}
#Asearchbar{
  display: flex;
  flex-flow: column;
  align-items: center;
}
#Asearch {
  margin-bottom: 20px;
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2px;
  text-align: center;
  border: 1px solid var(--color-dark);
  border-radius: 5px;
  box-shadow: 0 2px 3px #000;
  height: auto;
}
#Asearch *:nth-child(even){
  margin: 5px;
}
#Asearch label {
  color: var(--color-dark);
  font-weight: bold;
  font-size: 1.5rem;
}
#Asearch input {
  border-radius: 20px;
  border: 2px solid var(--color-dark);
  outline: none;
  box-shadow: 0 2px 3px #000;
}
#Asearch select{
  overflow: scroll;
}
#Asearch button {
  grid-column: 1 / span 2;
  border-radius: 5px;
  background-color: var(--color-dark);
  cursor: pointer;
  box-shadow: 0 2px 3px #000;
}
table{
  margin-left: 400px;
}
