:root {
  --color-dark: #333;
  --color-light: #fdfbfb;
}
* {
  font-family: 'Times New Roman', Times, serif;
}
#Asearch {
  width: 30%;
  height: 100%;
  position: relative;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  align-items: center;
  border: 1px solid var(--color-dark);
  border-radius: 2px;
  background-color: #efefef;
  box-shadow: 0 2px 3px #000;
}
#Asearch *:not(label) {
  margin: 10px;
  width: 50%;
}
#Asearch label {
  margin: 0;
  color: var(--color-dark);
  font-weight: bold;
  font-size: 1.2vw;
}
#Asearch input {
  border-radius: 20px;
  border: 2px solid var(--color-dark);
  outline: none;
  width: 90%;
  box-shadow: 0 2px 3px #000;
}
#Asearch select{
  overflow: scroll;
}
#Asearch button {
  width: 10%;
  border-radius: 5px;
  background-color: var(--color-dark);
  cursor: pointer;
  box-shadow: 0 2px 3px #000;
}
