:root {
  --color-dark: #333;
  --color-light: #fdfbfb;
}
* {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
}
body,
html {
  margin: 0;
  background-color: var(--color-light);
  height: 100%;
  min-width: 400px;
  display: flex;
  align-items: center;
}
#cmain {
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

#cmain h1 {
  font-size: 5rem;
  margin: 0;
}
#cmain div {
  padding: 2px;
  display: flex;
  justify-content: space-evenly 10px;
  box-shadow: 0 2px 3px #000;
  border-radius: 5px;
}
#cmain div a {
  margin: 5px;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 5px;
  text-decoration: none;
  background-color: var(--color-light);
  color: var(--color-dark);
  font-size: 2rem;
  box-shadow: 0 2px 3px #000;
  transition: 0.2s ease-in-out;
}
#cmain div a:hover{
    margin: 10px;
    background-color: var(--color-dark);
    color: var(--color-light);
}
