:root {
  --color-dark: #333;
  --color-light: #fdfbfb;
}
* {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
}
body,
html {
  margin: 0;
  background-color: var(--color-light);
  display: flex;
  flex-flow: column;
  height: 100%;
  min-width: 100%;
  scroll-behavior: smooth;
}
#main {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  min-height: 100%;
  max-width: 100vw;
}
#main > * {
  margin: 10px;
}
#searchbar{
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 50%;
}

.linktext {
  display: block;
  background-color: #efefef;
  color: var(--color-dark);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5vw;
}
.linktext:hover {
  background-color: var(--color-dark);
  color: var(--color-light);
  text-decoration: underline;
  cursor: pointer;
}
#cw {
  padding: 2px;
}
#search {
  width: 100%;
  flex-flow: column;
  position: relative;
}
#search label[for='id_name'] {
  display: none;
}
#search #id_name {
  margin: 0;
  border-radius: 20px;
  border: 2px solid var(--color-dark);
  outline: none;
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 3px #000;
}
#search button {
  position: absolute;
  margin: 0;
  top: 0;
  right: 0px;
  z-index: 2;
  transform: translateX(7px);
  border: none;
  outline: none;
  cursor: pointer;
  height: 123%;
  background-color: var(--color-dark);
  color: var(--color-light);
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
#searchbar *{
  margin: 10px;
}
svg{margin:0 !important;}
.ffun a {
  padding: 2px 5px 2px 5px;
  border: 1px solid var(--color-dark);
  border-radius: 2px;
  outline: none;
  box-shadow: 0 1px 2px #000;
  width: 70%;
}
.ffun {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#logo {
  margin: 0;
  font-size: 8vw;
  letter-spacing: -0.6vw;
  text-decoration: none;
  color: var(--color-dark);
}
#logo a {
  text-decoration: none;
  color: var(--color-dark);
}
table {
  border-collapse: collapse;
  width: 50%;
  margin-bottom: 20px;
  box-shadow: 0px -1px 5px #000;
}
td,
th {
  border: 1px solid #000;
  text-align: center;
  padding: 8px;
  font-weight: bolder;
}
th {
  background-color: var(--color-dark);
  color: var(--color-light);
}
th a{
  color: var(--color-light);
}
tr:not(:nth-child(even)) {
  background-color: var(--color-light);
}
tr:nth-child(even) {
  background-color: #fff;
}
tr:hover {
  background-color: rgb(236, 236, 236);
}
td {
  text-transform: lowercase;
}
#user {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
}
#user img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 0px 10px var(--color-dark);
}
#user span {
  padding: 2px;
  margin: 5px;
  color: var(--color-dark);
  font-weight: bold;
  border: 1px solid var(--color-dark);
  border-radius: 2px;
  box-shadow: 0 2px 3px #000;
}
#crudDiv {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2px;
}
#crudDiv span {
  flex: 2;
  min-width: 0;
  margin: 10px;
}
#crudDiv span form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2px;
  width: max-content;
}
#crudDiv span form input[name='Submit'] {
  grid-column: 1 / span 2;
}
#update {
  transition: 0.2s ease-in-out;
}
#update:hover::before {
  content: 'Update ';
}
