<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/sidePages.css' %}">
    <title>About</title>
</head>
<body>
    <h2 style="text-align:center">College Finder project by</h2>
    
    <div class="card">
        <img src="https://lh3.googleusercontent.com/_XWfrqmbStq94wyeE_RUGvYAZwfjVKFrOG9ZzOUgdwchi99Kc3yyKnc48E0EPlWkxjLATjFVCKDZKwB9t5tul8JENwOKXG6uFYN4l7dEpVfI5Nsg4OHSzXqYM4tVQBwSc3JVAvQ9kJKl3tFh3izu2JGoD1Ei6p8FcS371uBWwUVGTSYbjRb_nebdLlWwCO3dAzDbo0GkP7L9C1BLwv_673U7hRPHtMuVW4RswWkyqEqL0zWEoGNtK2vFwL6fYTixXOn7m2gDL1fUD_3YkKLKvvgdFTH_bGbJVjyISnkRNuNIeangf4sGzCHTESRc5X8saVk-mu6NBK9rlwIxrX1g5r8BI7_8g-7GavO01ZSg4OuUB2hvORERqlkAjj7Y1eVoigGJbBhQlLwX_VZoLdkjPZFsA6IdqoZ01af2w8gpg15z8LYObqa0cFeJ1pSRFiOIAaJ9cHBSfjZ8CGsARhgHN4yIpNZT6xRS1N3Gi9MtQctsJn0dAsJsgFnx9YVzjROnf4mtcxMzKjMjN-M7gXMoc4uebxaFC4csX4heItnURbPkkSrrHU6MzaKsFHvL6WTBJtOfOvDtKWUOe--v03P9G6MnL7e8pebTpUPc6mo6xJhQ9RGCTx7vSIU0_Ci_kJ-6Zq-QqgueDdmmUxw1gGDnmF0himuF8YWUqO46whLDyc9SBrQrl-PgtTrFSIWQjQ=s960-no?authuser=0" alt="John" style="width:100%">
        <h1>Abdel kader kahil</h1>
        <p class="title">CEO & Founder of being lazy</p>
        <p></p>
        <div style="margin: 24px 0;">
            <a href="https://www.instagram.com/aboudehkahil/">instagram</a>
        </div>
        <p><a href="mailto:aboudehkahil@gmail.com">Contact</a></p>
    </div>

</body>
</html>