{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crud</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/crud.css' %}">
</head>
<body>
    <div id="cmain">
        <h1>CRUD!!</h1>
        <div class="container">
            <a href="Colleges">Colleges</a>
            <a href="Degrees">Degrees</a>
            <a href="Faculties">Faculties</a>
            <a href="Deans">Deans</a>
            <a href="Jobs">Jobs</a>
        </div>
    </div>
</body>
</html>