{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crud</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/crud.css' %}">
</head>
<body>
    <div id="cmain">
        <h1>CRUD!!</h1>
        <div class="container">
            <a href={% url 'crudw' 'college'%}>Colleges</a>
            <a href={% url 'crudw' 'degree'%}>Degrees</a>
            <a href={% url 'crudw' 'faculty'%}>Faculties</a>
            <a href={% url 'crudw' 'dean'%}>Deans</a>
            <a href={% url 'crudw' 'job'%}>Jobs</a>
        </div>
    </div>
</body>
</html>