<table>
    <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Phone number</th>
        <th>Graduation rate</th>
        <th>Acceptance rate</th>
        <th>Faculties</th>
        <th>Degrees</th>
        <th>CRUD</th>
        <th>CRUD</th>
    </tr>
    {%for college in colleges%}
        <tr>
            <td style="text-transform: none"><a class="linktext" id="cw" href="{{college.website}}">{{college.name}}</a></td>
            <td style="text-transform: capitalize">{{college.location}}</td>
            <td>{{college.number}}</td>
            <td>{{college.graduationRate}}%</td>
            <td>{{college.acceptanceRate}}%</td>
            <td>{% for faculty in college.faculties.all %}
                    {{ faculty.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}...</td>
            <td>{% for degree in college.degrees.all %}
                    {{ degree.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}...</td>
            <td><a class="linktext" href={% url 'crudu' 'college' college.id%}>Update</a></td>
            <td><a class="linktext" href={% url 'crudd' 'college' college.id%}>Delete</a></td>
        </tr>
    {% endfor %}
</table>